
.sidebar{
    // border: 1px solid red;
    width: 100%;
}
.sidebar_child1{
    // border: 1px solid blue;
    height: 50%;
    
    
    .sidebar_logo{
        // border: 1px solid red;
        display: flex;
        width: 100%;
        height: 50px;
        gap: 20px;
        padding: .3rem;

        img{
            border-radius: 30px;
            width: 95%;
        }
        
        label{
            font-size: 30px;
            width: 15%;
            margin-top: 11px;
            color: rgb(40, 123, 190);
        }
        label:hover{
            color: rgb(163, 79, 184);
        }
        p{
            font-size: 18px;
        }
       }
       .button_div{
        // border: 1px solid red;
        width: 90%;
        height: 40px;
        margin:20px auto;
        
        button{
            border: none;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            font-size: 18px;
            background-color: rgb(187, 187, 187);
        
        }
       }
}
hr{
    width: 90%;
}
.sidebar_child2{
    height: 50%;
    
}